/NeuroML2/hr.dat
/NeuroML2/jsbml.log
*~
*_nrn.py
*_brian.py
x86_64
i386
umac
*.sbml
*.png
*.ode
*.gv
*.mod
*.9ml
*.sedml
*.sbml
*.cellml
*.spineml
*.m
*.nestml
*nest.py
/NeuroML2/LEMS_Regular_HindmarshRose_brian2.py
*_code.gen.c
*_code.gen.so
/NeuroML2/*_eden.py
arm64
/NeuroML2/report.*.txt
/NeuroML2/*.dat
/NeuroML2/nmllite/*.dat
/NeuroML2/nmllite/report.*.txt
/NeuroML2/nmllite/OneCell.mdf
/NeuroML2/nmllite/OneCell.mdf.1
